@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --main-color: #00031f;
    --verde:#00ad6b;
    --cinza:#b1b1b1;
    --second-color:#000213;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Audiowide', cursive;
}

header {
    background-color: var(--main-color);
    border-bottom: 1px solid var(--verde);
}

#menu {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#logo {
    font-size: 1.80rem ;
    color: var(--cinza);
}

#logo i {
    color: var(--verde);
    padding: 10px;
}

#logo:hover {
    color: var(--verde);
}

nav {
    display: flex;
}

nav a {
    display: block;
    color: var(--cinza);
    padding: 10px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    margin: 10px;
}

nav a:hover {
    color: var(--verde);
    border-bottom: 2px solid var(--verde);
}

#sobre {
    display: flex;
    align-items: center;
    height: calc(100vh - 79px);
    background-color: var(--second-color);
}

#container {
    font-size: 2.00rem;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cinza);
}

#apresentacao {
    min-width: 45%;
}

#apresentacao span {
    color: var(--verde);
}

#apresentacao h1 {
    color: var(--verde);
}

#imagem img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.7;
}

#sobreMimBackground {
    height: 100vh;
    background-color: var(--main-color);
    color: var(--cinza);
    display: flex;
    align-items: center;
}

#sobreMim {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#hello {
    min-width: 60%;
    font-size: 4.00rem;
    opacity: 0.3;
}

#descricao h1 {
    padding: 10px;
    color: white;
}

#descricao h1 span {
    color: var(--verde);
}

#descricao p {
    padding: 10px;
}

.marcacao {
    color: white;
}

#projetosBackground {
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
}

#titulo {
    color: white;
    margin-bottom: 80px;
}

.caixa {
    max-width: 80%;
    margin: 0 auto;
}

#projetos {
    display: flex;
}

.projeto-item {
    margin: 20px;
    padding: 80px 25px;
    background-color: var(--main-color);
    border-radius: 10px;
}

#titulo h1 span {
    color: var(--verde);
}

.projeto-item a {
    display: block;
    color: white;
    padding: 10px;
    margin-top: 20px;
    background: linear-gradient(to right, #00021a, #00ad6b);
    border: 1px solid white;
    border-radius: 10px;
}

#contatoBackground {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo {
    padding: 40px;
    max-width: 80%;
    margin: 0 auto;
}

#conteudo h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

#conteudo h1 span {
    color: var(--verde);
}

#email {
    color: white;
}

#redes {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

#redes a {
    display: block;
    color: white;
    padding: 10px;
    margin-top: 20px;
    background: linear-gradient(to right, #00021a, #00ad6b);
    border: 1px solid white;
    border-radius: 10px;
}