@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Audiowide', cursive;
    height: 100vh;
    width: 100vw;
    background-color: #e6e6e6;
}

h1 {
    text-transform: uppercase;
    color: #b1b1b1;
}

div {
    padding: 20px;
    background-color: #00031f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}

.input {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

label {
    cursor: pointer;
    display: none;
}

div input {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

a {
    display: block;
    color: white;
    padding: 10px 30px; 
    margin-top: 20px;
    background: linear-gradient(to right, #00021a, #00ad6b);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

section {
    padding: 60px;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #00ad6b;
}

section input {
    border-radius: 5px;
    border: 2px solid #00ad6b;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 10px 0 10px 0;
    display: none;
    color: #00ad6b;
}

#erro1, #erro2 {
    display: none;
}

#buscador {
    border: none;
}

#buscador.ativo {
    border: 2px solid red;
}

#erro1.ativo {
    color: red;
    padding: 10px;
    display: block;
}

#erro2.ativo {
    color: red;
    padding: 10px;
    display: block;
}

@media (max-width: 400px ) {
    body {
        max-width: 100vh;
        max-height: 70vh;
    }
}